<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Groupie Tracker - Artists</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/search.css" />

</head>
<body class="default-page">

  <header>
    <div class="title-box">
    <h1 class="title">Explore Legendary Artists</h1>
  </div>
    <nav>
      <a href="/home" class="nav-link">Home</a>
      <a href="/about" class="nav-link">About</a>
    </nav>    
  </header>
  
  <main>
    <div class="search-bar-container">
      <input type="text" id="searchInput" placeholder="Search..." autocomplete="on" />
      <ul id="suggestions" class="suggestion-list"></ul>
    </div>
  
    <div class="artist-container" id="artistList"></div>
  
    <div class="pagination-container" id="pagination"></div>
  
    <button id="backToTopBtn" class="back-to-top">↑ Back to Top</button>
  </main>
  
  <footer>
    <p>&copy; 2025 Groupie Tracker 🖤 Zone01 </p>
  </footer>

  <script src="/static/js/app.js" defer></script>
  <script src="/static/js/search.js" defer></script>
  <script src="/static/js/index.js" defer></script>
  
</body>
</html>